In [1]:
import pandas as pd

In [2]:
df = pd.DataFrame({'pre':[15,21,15,21,24,55], 'post':[15,21,21,15,24,75], 'extra':[1,2,3,4,5,6]})
df

   pre  post  extra
0   15    15      1
1   21    21      2
2   15    21      3
3   21    15      4
4   24    24      5
5   55    75      6

In [3]:
def tech(pre, post):
	if (pre == 15 or pre == 21) and (post == 15 or post == 21):
		return "4G"
	elif (pre == 24) and (post == 24):
		return "5G"
	else:
		return "NA"

In [4]:
df['tech_name'] = df.apply(lambda x: tech(x['pre'], x['post']), axis=1)

In [5]:
df

   pre  post  extra tech_name
0   15    15      1        4G
1   21    21      2        4G
2   15    21      3        4G
3   21    15      4        4G
4   24    24      5        5G
5   55    75      6        NA