In [ ]:
import pandas as pd
a =    [{"age": 48},
        {"sex": 1},
        {"cp": 1},
        {"trtbps": 110},
        {"chol": 229},
        {"fbs": 0},
        {"restecg": 1},
        {"thalachh": 168},
        {"exng": 0},
        {"oldpeak": 1},
        {"slp": 0},
        {"caa": 0},
        {"thall":3}]

In [ ]:
pd.DataFrame(a)

,age,sex,cp,trtbps,chol,fbs,restecg,thalachh,exng,oldpeak,slp,caa,thall
0,48.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,110.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,229.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN
7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,168.0,NaN,NaN,NaN,NaN,NaN
8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN
9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN
10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN
11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN
12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.0

In [ ]:
df = pd.DataFrame()
index = 0 
for i in a:
    #print(type(i))
    for key,val in i.items():
        #print(key, val)
        df.loc[index, vars()['key']] = val
index += 1
df

,age,sex,cp,trtbps,chol,fbs,restecg,thalachh,exng,oldpeak,slp,caa,thall
0,48.0,1.0,1.0,110.0,229.0,0.0,1.0,168.0,0.0,1.0,0.0,0.0,3.0

In [ ]:
js1 = {
    "glossary": {
        "title": "example glossary",
		"GlossDiv": {
            "title": "S",
			"GlossList": {
                "GlossEntry": {
                    "ID": "SGML",
					"SortAs": "SGML",
					"GlossTerm": "Standard Generalized Markup Language",
					"Acronym": "SGML",
					"Abbrev": "ISO 8879:1986",
					"GlossDef": {
                        "para": "A meta-markup language, used to create markup languages such as DocBook.",
						"GlossSeeAlso": ["GML", "XML"]
                    },
					"GlossSee": "markup"
                }
            }
        }
    }
}

In [ ]:
pd.DataFrame.from_dict(pd.json_normalize(js1), orient='columns')

,glossary.title,glossary.GlossDiv.title,glossary.GlossDiv.GlossList.GlossEntry.ID,glossary.GlossDiv.GlossList.GlossEntry.SortAs,glossary.GlossDiv.GlossList.GlossEntry.GlossTerm,glossary.GlossDiv.GlossList.GlossEntry.Acronym,glossary.GlossDiv.GlossList.GlossEntry.Abbrev,glossary.GlossDiv.GlossList.GlossEntry.GlossDef.para,glossary.GlossDiv.GlossList.GlossEntry.GlossDef.GlossSeeAlso,glossary.GlossDiv.GlossList.GlossEntry.GlossSee
0,example glossary,S,SGML,SGML,Standard Generalized Markup Language,SGML,ISO 8879:1986,"A meta-markup language, used to create markup ...","[GML, XML]",markup